/* ⊹ ੈ♡ — — — Tipografia — —— —  — — */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Sans&family=Raleway:wght@500&family=Roboto:wght@300&display=swap');


@font-face
{
  font-family: 'Abaddon'; /* Personalizável */
  src: url('/home/dienifersiqueira/Landing-page-JoJo/fonts/abaddon.TTF.txt');
  font-weight: normal; /* Tamanho da fonte "/"
  
  /* Tipos de format() 
  • Opentype (otf)
  • Truetype(TTF)
  • Embedded-opentype
  • Truetype-aat (Apple Advanced Typography)
  • Svg
  */
}

@font-face
{
  font-family: 'Azonix';
  src:  url('/home/dienifersiqueira/Landing-page-JoJo/fonts/Azonix.otf.txt');
  font-weight: normal;
}

/* Body */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body
{
  font-family: 'Slaytanic';
  overflow: hidden;
}


/* Responsividade */
@media (min-width: 400px)
{
  .navegacao img
  {
    display: none;
  }
  .social a
  {
    display: none;
  }
  navbar
  {
    display: none;
  }
  .Pagina-inicial p, #logo
  {
    position: relative;
    top: 90px;
  }
  .navegacao button
  {
    position: relative;
    top: 100px;
  }
  video
  {
      display: none;
  }
  body 
  {
      background-image: url('/home/dienifersiqueira/Landing-page-JoJo/img/JoJo-background-mobile.png');
      background-size: 101%;
      background-position: -1px 49%;
      background-repeat: no-repeat;
  }
  #logo
  {
    width: 295px;
    margin-left: 37px;
    opacity: 0.4;
    transition: 0.5s;
  }
  #logo:hover
  {
    opacity: 1;
  }
  #my-logo
  {
    position: relative;
    overflow: auto;
    top: -130px;
    float: left;
    width: 100px;
  }
}
@media (min-width: 700px)
{
  body 
  {
    background-image: url('/home/dienifersiqueira/Landing-page-JoJo/img/JoJo-background-tablet.png');
    background-size: 1000px;
    background-position: 40% -16px;
    background-repeat: repeat-x;
  }
  #logo
  {
    position: relative;
    right: 15px;
  }
}
@media (min-aspect-ratio: 16/9)
{
  #my-logo
  {
    position: relative;
    overflow: auto;
    top: 0px;
    float: left;
    width: 100px;
  }
  video
  {
    display: block;
    width: 100%;
    height: auto;
  }
  body 
  {
    background-image: none;
  }
  navbar
  {
    display: block;
  }
  .Pagina-inicial
  {
    position: relative;
    top: -80px;
  }
  .navegacao button
  {
    position: relative;
    top: 15px;
    right: 7px;
  }
  #logo
  {
    width: 350px;
    position: relative;
    left: -8px;
  }
  .navegacao img
  {
    display: block;
  }
  .social a
  {
    display: block;
  }
}

/* "Minha" logo */
#my-logo
{
  position: relative;
  margin-right: 20px;
  margin-top: -63px;
  float: left;
  font-size: 3em;
  color: #FF1CB0;
  font-family: 'Slaytanic';
  z-index: 999998;
  text-shadow: 0.1em 0.1em 0.5em #333;
  animation: bg 4s infinite;
  cursor: pointer;
}

@keyframes bg {
	50% {
		color: #16EFE4;
	}
}

/* Conteúdo */
.Pagina-controle /* Posiciona "todo" o conteúdo da página (menos a logo e o p).*/
{
  position: relative;
  top: -176px;
}

/* Background video */
video
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow-x: inherit;
  z-index: -1;
}

#logo
{
  filter: hue-rotate(-0.19turn);
}

.Pagina-inicial
{
  margin-top: 210px;
  margin-left: 40px;
}

.Pagina-inicial p
{
  background-color: rgba(0, 0, 0, 0.479);
  font-family: 'PT Sans', sans-serif;
  font-size: clamp(0.5em, 0.6em + 1vw, 1em);
  color: antiquewhite;
  width: 30%;
  max-width: 980px;
  min-width: 370px;
  padding: 10px 10px 10px 10px;
}


/* Botões interativos */
#Jonathan
{
  position: relative;
  top: -110px;
  left: 20px;
  transform: rotate(14deg);
  opacity: 0.3;
  transition: 0.8s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#Jonathan:hover
{
  position: relative;
  top: -120px;
  opacity: 1;
  filter: saturate(0.3);
  filter: drop-shadow(0 0 30px #332BFC);
}


#Dio
{
  position: relative;
  top: -310px;
  left: 200px;
  transform: rotate(20deg);
  opacity: 0.3;
  transition: 0.7s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#Dio:hover
{
  position: relative;
  top: -320px;
  opacity: 1;
  filter: saturate(0.1);
  filter: drop-shadow(0 0 30px #951BBE);
}

.navegacao
{
  margin-top: -230px;
  margin-left: -107px;
}

.navegacao img
{
  margin-top: 5px;
}

.navegacao #button-mangá
{
  position: relative;
  font-family: 'Azonix';
  font-size: 1em;
  width: 115px;
  height: 40px;
  margin: 15px;
  color: white;
  background: #951BBE;
  border: 0;
  border-radius: 30px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Tira destaque azul ao clicar*/
  transition: 0.6s;
}

.navegacao #button-mangá:hover
{
  box-shadow: 0 0 30px #951BBE;
}

.navegacao button
{
  position: relative;
  font-family: 'Azonix';
  font-size: 1em;
  width: 115px;
  height: 40px;
  margin: 15px;
  color: white;
  background: #332BFC;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Tira destaque azul ao clicar*/
  transition: 0.6s;
}

.navegacao button:hover
{
  box-shadow: 0 0 30px #332BFC;
}

.navegacao
{
  position: relative;
  top: 240px;
  left: 190px;
}


/* Redes Sociais*/
.social a
{
  position: relative;
  top: 425px;
  left: 10px;
  font-size: 1.4em;
  color: white;
  width: 42px;
  border-radius: 1px;
  padding-top: 4px;
  filter: drop-shadow(0rem 0 0.8rem black);
}

.social
{
  position: relative;
  top: -250px;
  float: right;
  margin-right: 8px;
  display: flex;
  flex-direction: column; /* Estilo coluna */
  /* Display valores
    • Inline = lado a lado;
    • Block = em uma nova linha;
    • Inline-block = Lado a lado e definimos as propriedades de largura e altura;
    • Flex = Capaz de organizar espacialmente os elementos em uma interface, além de possuir capacidades avançadas de alinhamento. 
    */
    
  z-index: 999998;
}

.social a:hover
{
  color: rgb(184, 1, 240);
  filter: drop-shadow(0 0 30px #951BBE);
}
